.exercise.container {
  margin: 0 auto;
  width: 90%
}

.exercise__info-wrapper {
  @include flex(flex, space-between, start);
  flex-direction: column;
  height: 270px;
  
}

.exercise__top {
  @include flex(flex, space-between, center);
}

.exercise__title {
  color: $color-black;
  font-size: $font-size-large;
}

.exercise__video {
  width: 50%;
  height:270px;
  border-radius: 8px;
}

.exercise__bottom {
  @include flex(flex, center, center);
}

.exercise__info-lis {
  @include flex(flex, center, center);
}

.exercise__top {
  flex-direction: row;
  margin-bottom: 32px;
}

.exercise__info-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 32px;
}

.exercise__description {
  font-weight: $font-weight-small;
  color: $color-dark-gray;
  font-size: $font-size-small;
  line-height: 140%;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none; 
  
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;  
}

.exercise__btn-add-to-training {
  width: 60%;
  padding: 14px 24px;
  background: $color-lightorange;
  color: $color-white;
}

.info-list__item-title {
  color: $color-dark-gray;
  font-size: $font-size-small;
  font-weight: $font-weight-small;
}

.info-list__item-info {
  color: $color-black;
  font-weight: $font-weight-small;
  font-size: $font-size-default;
}

.workout-list__item {
  display: flex;
}

@media screen and (max-width: 1000px){
  .exercise__top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .exercise__video{
    width: 80%;
    height: 350px;
  }
  .exercise__info-wrapper{
    width: 80%;
  }
  .exercise__info-list{
    flex-direction: column
  }
  .info-list__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .exercise__info{
    width: 100%;
  }
  .exercise__description{
    width: 80%;
  }
}
@media screen and (max-width: 700px){
  .exercise__top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .exercise__video{
    width: 80%;
    height: 220px;
  }
  .exercise__info-wrapper{
    width: 80%;
    height: 200px;
  }
  .exercise__title{
    font-size: 24px;
  }
  .exercise__info-list{
    font-size: 10px;
  }
  .info-list__item-title,
  .info-list__item-info{
    font-size: 16px
  }
  
}
@media screen and (max-width: 500px){
  .exercise__top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .exercise__video{
    width: 90%;
    height: 200px;
  }
  .exercise__info-wrapper{
    width: 90%;
  }
}
