.error
  width: max-content
  margin: 30px auto 0 auto
  @include flex(flex, center, flex-start)

.error-title
  position: absolute
  font-size: 36px
  text-align: center
  padding-right: 30px
  padding-top: 550px
  color: #ffffff

.error-img
  border-radius: 8px
