$font-main: 'Inter', normal
$font-size-small: 16px
$font-size-default: 18px
$font-size-average: 20px
$font-size-large: 36px
$font-weight-small: 400
$font-weight-default: 500
$font-weight-large: 600

$color-black: #000000
$color-lightorange: #FFAB48
$color-gray: #8A8A8A
$color-gren: #06B64C
$color-lightgray: #E5E5E5
$color-red: #E04D2D
$color-saturatedred: #FF0B0B
$color-violet: #ACA3E1
$color-white: #ffffff
$color-dark-gray: #313131
$color-background-dimming: rgba(0, 0, 0, .6)

$color-background: #F9F9F9
$color-background-primary: $color-white
