@import "./Sass/reset.sass", "./Sass/mixins.sass", "./Sass/typography.sass"
@import "./Pages/header/header.sass"

body
  background-color: $color-bagckground
  font-family: $font-main
  font-weight: 500
  font-size: 18px
  letter-spacing: -0.017em
